---
export interface Props {
	time: Date;
	content: string;
}

const { content, time } = Astro.props;
---

<article>
	<header>
		<time datetime={time.toISOString()}>{time.toTimeString()}</time>
		<!-- <ul>
			<li>arg</li>
			<li>arg2</li>
		</ul> -->
	</header>
	<main class="post-body" set:html={content} />
</article>

<style is:global>
	img, video {
		max-width: 100%;
		max-height: 400px;
	}
	br {
		display: block;
		margin-top: 0.5em;
	}
</style>

<style>
	main {
		word-wrap: break-word;
	}
	article {
		background-color: #0c090a;
        border: solid 2px #1e1e1e;
        margin: 1em;
        padding: 1em;
	}
	header {
        padding: 1em;
	}
	/* header {
        line-height: 0;
    } */
	time {
        color: grey;
        display: inline-block;
    }
	.post:hover {
        border-color: #771f11;
        border-style: dotted;
    }
</style>